Options -Indexes
RewriteEngine On
RewriteBase /


RedirectMatch 301 ^/games/?$ /

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.+)$ $1.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.+)$ $1.html [L]

RewriteCond %{THE_REQUEST} \s/([^\s]+?)\.(php|html)\s [NC]
RewriteRule ^ %1 [R=301,L]


ErrorDocument 404 /404.html
